/MNIST/MNIST_data/
/MNIST/Kaggle/
/MNIST/cvn-mnist-model/
/NeuralStyleTransfer/images
/NeuralStyleTransfer/output
/NeuralStyleTransfer/pretrained-model
*.pyc
/Ships_Iceberg/pretrained-model
/Ships_Iceberg/dataset
/Ships_Iceberg/cvn-model
*.DS_Store